body {
    background-color: #9a9b88;
}


/*Home Page Start*/
/*header logo navbar*/
.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gugi', cursive;
}

.nav-bar {
    padding: 1em;
}

a {
    text-decoration: none;
}

/*container*/
.container {
    background-color: #9a9b88;
}

/*cards*/
.card-group {
    margin: 2em;
}

.card {
    background-color: #b2b6b9;
    margin: 1em;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    padding: .5em;
    width: 60%;
    height: 60%;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*buttons*/
.btn-primary {
    align-items: center;
}

/*footer*/
.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Home Page end*/

/*about Page start*/

/*about Page end*/

/*contact us start*/
.form-group {
    margin: 1em;
}

li {
    list-style-type: none;
}

ul {
    font-weight: 600;
    font-size: 1.3em;
}

.holiday-text {
    font-size: .9em;
}

.contact-map {
    border-radius: .3em;
}

.contact-btn {
    margin: 1em;
}
/*contact us end*/